<h2>Informações</h2>

<div class="container mt-5">
    <table class="table">
        <tbody>
            <tr>
                <td>Bio</td>
                <td>{{user.bio}}</td>
            </tr>
            <tr>
                <td>Empresa</td>
                <td>{{user.company}}</td>
            </tr>
            <tr>
                <td>Localização</td>
                <td>{{user.location}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <td>Twitter</td>
                <td>{{user.twitter_username}}</td>
            </tr>
            <tr>
                <td>Blog</td>
                <td>{{user.blog}}</td>
            </tr>
            <tr>
                <td>Criação</td>
                <td>{{user.created_at_formated}}</td>
            </tr>
        </tbody>
    </table>
</div>